body{
    font-family: Arial, Helvetica, fantasy;
}

h1{
    font-size: large;
    font-weight: 300;
    color: blue;
    font-family: Helvetica, fantasy;
    text-transform: uppercase;
}

h2{
    font-size: 300px;
    font-weight: lighter;
    color: rgb(22, 85, 128);
    text-align: center;
    margin: 30px;
}

h3{
    font-size: 450px;
    font-weight: 500;
    color: rgb(55,105,200);
    text-transform: capitalize;
    text-align: right;
}

h4,h5,h6{
    font-size: 300px;
    font-weight: 900;
    color: rgb(135,135,135)
}

button {
    color: rgb(255,30,33);
    background-color: aquamarine;
    border: 2px solid rgb(200,100,100);
    padding: 10px;
}

button:hover{
    color: rgb(0,0,255);
    background-color: rgb(0,255,0);
    padding: 30px;
}
button:active{
    color: rgb(55,105,200);
    background-color: black;
    font-size: large;
}

a {
    color: rgb(255,30,33);
    background-color: aquamarine;
    border: rgb(200,100,100);
    padding: 10px;
}

a:hover{
    color: rgb(0,0,255);
    background-color: rgb(0,255,0);
    padding: 30px;
}
a:active{
    color: rgb(55,105,200);
    background-color: black;
    font-size: large;
}

section{
    border: 10px solid rgb(43, 169, 174);
    border-radius: 100px;
    margin: 125px;
    padding: 100px;
    box-shadow: 4px 4px 10px rgb(55,105,200);
    background-color: rgb(52, 151, 160);
}


.progress-bar{
    background-color: yellowgreen;
    border-radius: 20px;
    height: 25px;
    box-shadow: 2px 2px 6px rgb(0, 255, 13);
}

nav{
    color: red;
}

nav a{
    color: tomato;
}

ol.custom-counter {
  counter-reset: item;
  padding-left: 0;
}

ol.custom-counter li {
  counter-increment: item;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}

ol.custom-counter li::before {
  content: counter(item) ". ";
  position: absolute;
  left: 0;
  color: crimson;
  font-weight: bold;
}

ul.custom-bullet li {
  margin-bottom: 20px;
  position: relative;

}

ul.custom-bullet li::before {
  content: "X";
  position: absolute;
  left: 0;
  color: teal;
  font-size: 18px;
  opacity: 0;
  animation-name: FadeInUp;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

table{
    width: 400px;
    border-collapse: collapse;
    margin: 50px auto;
    padding: 10px;
}

th, td{
    border: 3px solid rgb(43, 169, 174);
    text-align: center;
}

thead{
    background-color: rgb(166, 161, 167);
    color: turquoise;
    text-align: center;
}

tbody{
    background-color: rgb(255, 255, 255);
    color: rgb(22, 85, 128)
}

tbody tr:hover {
  background-color: #d1ecf1;
  cursor: pointer;
}

@keyframes FadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    color: aqua;
  }

  50% {
    opacity: 0.5;
    transform: translateY(15px);
    color: aquamarine;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    color: rgb(43, 169, 174);
  }
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#contact {
  animation: Spin 2s linear 1s;
}



#preloader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  z-index: 9999;

  animation: hidePreloader 0.8s forwards;
  animation-delay: 3s;
}

#preloader div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  opacity: 0.2;
  animation: pulse 0.8s infinite ease-in-out;
}

#preloader div:nth-child(1) { animation-delay: 0s; }
#preloader div:nth-child(2) { animation-delay: 0.15s; }
#preloader div:nth-child(3) { animation-delay: 0.30s; }
#preloader div:nth-child(4) { animation-delay: 0.45s; }

@keyframes pulse {
  0% { transform: translateY(0); opacity: 0.3; }
  50% { transform: translateY(-10px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.3; }
}

@keyframes hidePreloader {
  0%   { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}



@media (prefers-reduced-motion: reduce) {

 
  #preloader,
  #preloader * {
    animation: none !important;
    transition: none !important;
  }


  #preloader {
    opacity: 1 !important;
    visibility: visible !important;
  }

  #preloader div {
    opacity: 1 !important;
    transform: none !important;
  }

  #contact,
  #contact * {
    animation: none !important;
    transition: none !important;
    transform: none !important;
  }
}

@keyframes Gradiend{
    0%{
        background-color:rgb(22, 85, 128)
    }
    33%{
        background-color:aqua
    }
    66%{
        background-color:aquamarine
    }
    100%{
        background-color:blue
    }
}
#services{
    animation: Gradiend 4s ease-in-out infinite;
}

#about {
  position: relative;
  overflow: hidden; 
}


.about-shapes {
  position: absolute;
  inset: 0;
  pointer-events: none; 
}


.shape {
  position: absolute;
  opacity: 0.6;
}


.shape.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid rgba(255, 200, 0, 0.4);
  top: 50%;
  right: 30%;
  animation: scaleShape 4s ease-in-out infinite;
}

@keyframes scaleShape {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
